#heading{
	padding-left:2%;
	margin-bottom:2%;
}
#pages{
	padding-left:3%;
	padding-right:7%;
}
#nav-bar{
	margin:0;
}
#navbar2{
	background-color:white;
	font-size:17px;
}
#main-image {
	margin-top:3%;
	background-color: white !important;
	opacity: 0.7;
}
#classroom{
	padding-top:1%;
	
}
#work{
	padding-top:1%;
}
#project{
	padding-top:1%;
}
div.field-title label {
    padding:0.5%;
}
#submit{
	padding-top:1%;
}
#login{
	border-right: solid #e7e7e7;
	
}
#content{
	padding-left:5%;
}
#content img{
	width:270px;
	height:230px;
}
#content h4{
	padding-left:32%;
}
#content{
	font-size:20px;
}
#reg{
	
}
#content{
	height:250px;
	padding-top:2%;
	margin-top:2%;
}
#footer{
	padding-left: 0px;
	padding-right: 0px;
	height:30px;
	
	max-width:950px;
	background-color:#e7e7e7;
}
#footer a{
	color:#777;
	color:black;
	padding-right:1.5%;
	padding-left:1.5%;
	font-size:14px;
}
#footer a:hover{
	color:#777;
	text-decoration: none;
}
#footer-links{
	margin-left:33%
}
body{
	background-color: white;
	max-width:950px;
	margin-left:auto;
	margin-right:auto;
}
#newproject{
	font-size:18px;
	float:left;
}
#existingproj{
	font-size:18px;
	float:left;
}
#pagec{
	border-style: solid;
	border-width: 1px;
	border-color: #e7e7e7;
	border-radius: 1px;
	max-width:950px;
	padding-right:100px;
	padding-bottom:3%;
	
}
.navbar-inner{
	background-color:black;
}
//make it have a maxwidth
// logo empty whiteboard, univer 49 ultra light condensed