{% extends "sketch/index.html" %}

{% block content %}


<div id="pages"> 
<h2> About Us </h2>

<p> This application has been created by Carnegie Mellon University in Qatar students. <br>
	It has been created for a Web Development Class.
	<br>
	This project was created from an idea that a student had. The idea was to create an <br>
	environment where people can sketch and work together via a website for any purpose <br>
	such as work, projects or planning. <br>
	<br>
	This project was made to make sketching with others easier when people are in different locations <br><br>
</p>
</div>
{% endblock %}
