{% extends "sketch/index.html" %}
{% block content %}
    <div id="pagec" class="container">

        

        <div class="row">
            
			<div id="content">
				<h2> My Projects: </h2>
			
				<br>
				<div id="newproject">
 <!-- 				<p> You can use Whiteboard in these environments: </p> -->
				<div id="classroom" >
					
					
 <!--                   <form id="formAlpha" enctype="multipart/form-data" action="{% url 'add_project' %}" method="post">{% csrf_token %}
                        <div><label for='projectName'>Project Name</label><br>
							<input type="text" name="projectName"/></div>
                    </form>
                    <div><label for='content'><a href="#" id="publishButton">Publish</a></label></div>
                </div>
			</div> -->

               
					
					<div id="existingproj">

                    <form id="formBeta" enctype="multipart/form-data" action="{% url 'select_project' %}" method="post">{% csrf_token %}
                        <div><label for='projectName'></label><input id="project_input" type="hidden" name="projectName" value = ""/></div>
                    </form>
					<div id="here">
						<script>
						var i=0;
						</script>
                    {% for sketch in sketch_list %}
					<script>
					var w=screen.width;
					var h=screen.height-145;
					if(i==0){
						$('#here').append('<div class="col-lg-4"><a href="#" id="{{ sketch.project.name }}" class="project_button"> <canvas id="'+{{sketch.id}}+'" style="margin-right:250px;" class="sketch" width="'+w+'" height="'+h+'"> </canvas><br>{{ sketch.project.name  }}</a> <a data-panelid="{{sketch.project.name}}" class="delete_project">  <button type="button" class="btn btn-default btn-sm dropdown-toggle">  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button></a> <br><br> </div>');
						i++;
					}else{
					$('#here').append('<div class="col-lg-4"><a href="#" id="{{ sketch.project.name }}" class="project_button"> <canvas id="'+{{sketch.id}}+'" class="sketch" width="'+w+'" height="'+h+'"> </canvas><br>{{ sketch.project.name  }}</a> <a data-panelid="{{sketch.project.name}}" class="delete_project">  <button type="button" class="btn btn-default btn-sm dropdown-toggle">  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button></a> <br><br> </div>');}
					$.ajaxSetup({ 
						     beforeSend: function(xhr, settings) {
						         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
						             // Only send the token to relative URLs i.e. locally.
						             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
						         }
						     } 
						});
                    $.post("/sketch/loadSketch/", {
				        sketch_id: {{sketch.id}}
				    }, function(data) {
				        var result = data;
				        //console.log(result);
				        prepareCanvasproject(result, {{sketch.id}});
				        loading = false;
				    });
					</script>
					{% endfor %}

				

                        
						
						

                    
					<script>
//					if(i==0){
//					$('#here').append('<div class="col-lg-4"> <canvas id="newproject" class="sketch" width="200px" height="220px"> </canvas> <form id="formAlpha" enctype="multipart/form-data" action={% url "add_project" %} method="post">{% csrf_token %} <div><label for="projectName">Project Name</label><br><input type="text" name="projectName"/></div></form><div><label for="content"><a href="#" id="publishButton">Publish</a></label></div></div></div></div>');
	//				i++;
					//}
					</script>
<div class="col-lg-4">
<canvas id="newproject" class="sketch" width="200px" height="220px"> </canvas> 
                    <form id="formAlpha" enctype="multipart/form-data" action="{% url 'add_project' %}" method="post">{% csrf_token %}
                        <div><label for='projectName'>New Project Name</label><br>
							<input type="text" name="projectName"/></div>
                    </form>
                    <div><label for='content'><a href="#" id="publishButton">Publish</a></label></div>
                </div>
			</div>
</div>
				</div>
			</div>

			</div>
			
		</div>
	</div>
{% endblock %}

