{% extends "sketch/index.html" %}
{% block content %}

    <div id="pagec" class="container">

        

        <div class="row">
            
			<div id="content">
				<h2> My Projects: </h2>
				<br>
				<div id="newproject">
				<p> You can use Whiteboard in these environments: </p>
				<div id="classroom" >
					
					
                    <form id="formAlpha" enctype="multipart/form-data" action="{% url 'add_project' %}" method="post">{% csrf_token %}
                        <div><label for='projectName'>Project Name</label><br>
							<input type="text" name="projectName"/></div>
                    </form>
                    <div><label for='content'><a href="#" id="publishButton">Publish</a></label></div>
                </div>
			</div>
<br>
<br>
<br>
<br> <br> <br>
<p> OR </p>

                <div id="classroom" >
					
					<div id="existingproj">
                    <p>Select from Existing Projects:</p>

                    <form id="formBeta" enctype="multipart/form-data" action="{% url 'select_project' %}" method="post">{% csrf_token %}
                        <div><label for='projectName'></label><input id="project_input" type="hidden" name="projectName" value = ""/></div>
                    </form>
					
                    {% for bridge in bridges_list %}

                        <button id="{{ bridge.project.name }}" class="project_button">{{ bridge.project.name }}</button>

                    {% endfor %}

				</div>
			</div>

			</div>
			
		</div>
	</div>
{% endblock %}

